node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.sass-cache
.phpintel
.DS_STORE
.netbeans
nbproject
.idea
*.sublime-project
*.sublime-workspace
.node_history
.powenv
*~
*#
trash.md
notes.txt
notes.md
.bash_history
.git-credentials
.git-credential-cache/
.php_history
.buildpath
.project
.settings/
composer.lock