<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
<div id="app" class="container">
	<div class="row">
		<div class="col-lg-12">
				<!-- I can use the message variable and output it without using v-model by using the {{}} syntax still: -->
			<h1 class="text-center">{{message}}</h1>
		
			
			<ul>
				<li v-for="name in names" v-text="name"></li>
			</ul>

				<!-- v-model is a Vue directive which lets you deal with form inputs and controls. Note the syntax does not use {{}} here (unlike angular). -->
			<input v-model="newName" id="input" type="text"/>
			<button @click="addName" id="addName" class="btn btn-sm btn-primary">Add a name</button>
			<button class="btn btn-sm btn-danger" :title="title">Hover over me</button>
			<button :class="{'btn btn-sm btn-warning': isWarning}">Btn-warning if true</button>


		</div>
	</div>
</div>

<script>

// basic data binding. When the value changes on v-model the value of the key named in data ("message" in this case) will also change
var app = new Vue({
	el: "#app",
	data: {
		message: "Hello Vue!",
		newName: '',
		names: ['Joe', 'Mary', 'Jane', 'Jackie'],
		title: "This is a title set through Javascript"
	},

	// any custom methods we write should be nested within the "methods" object:
	methods: {
		addName() {
			this.names.push(this.newName);
			this.newName = '';
		},
		isWarning() { true }
	},

});

</script>
</body>

</html>