	<!-- Vue supports something called "event modifiers". In this case, when we submit the form, we want to prevent the default action (submitting the form) and run our custom "onSubmit" method. If we try like @submit="onSubmit", it will run that method, but then the regular default form submit action will trigger, which is NOT what we want. 
	So the event modifiers: you add a period and a view-supported modifier (e.g, @submit.once if you only want to submit a thing once.  In our case we want to prevent default, so it looks like this (@submit.prevent="onSubmit")) -->

	<!-- NOTE: This assumes a Laravel backend which I have not bothered to build into this project. The Laravel validator would return the errors -->

	<!-- Move the @keydown event handler to the form itself so we don't have to put it on every single field.  $event.target.name will return the attribute 'name' for the target of the event (e.g., the name of the field that received the keydown) -->
<form method="POST" action="/projects" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name)">
	<div class="control">
		<label for="name" class="label">Project Name</label>
		<input type="text" id="name" name="name" class="input" v-model="name">
		<span class="help is-danger" v-text="errors.get('description')"></span>
	</div>

	<div class="control">
		<label for="description" class="label">Project Description</label>
		<!-- ADD THE REQUIRED TAGS! It is free front-end HTML5 validation! Use it! It's free! -->
		<input type="text" id="description" class="input" v-model="description"/>
		<!-- For errors we want to display the first error - which would be at errors.name[0] - but if errors is empty, this will return as undefined. -->
		<span class="help is-danger" v-text="errors.get('name')"></span>
	</div>

	<div class="control">
		<button class="button is-primary">Create</button>
	</div>
</form>